Source: heat-cfntools
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: gustavo panizzo <gfa@zumbi.com.ar>, Thomas Goirand <zigo@debian.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 9), python-pbr (>= 0.5.16), python-pbr (<= 0.6), python-psutil (>= 1.0), python-boto (>= 2.5.2), python (>= 2.6), python-sphinx, openstack-pkg-tools
Standards-Version: 3.9.4
Homepage: https://wiki.openstack.org/Heat


Package: heat-cfntools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Tools required to be installed on Heat provisioned cloud
 This package contains tools for use with CloudFormation
 cfn-init   - Reads the AWS::CloudFormation::Init for the instance resource,
              installs packages, and starts services
 cfn-signal - Waits for an application to be ready before continuing, ie:
              supporting the WaitCondition feature
 cfn-hup    - Handle updates from the UpdateStack CloudFormation API call
