Source: heat-cfntools
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: gustavo panizzo <gfa@zumbi.com.ar>, Thomas Goirand <zigo@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python (>= 2.6),
               python-pbr (>= 0.6),
               python-setuptools (>= 0.6b3),
               python-sphinx
Build-Depends-Indep: python-boto (>= 2.12.0),
                     python-hacking (>= 0.8.0),
                     python-mox3,
                     python-psutil (>= 1.1.1),
                     python-subunit (>= 0.0.18),
                     python-testtools (>= 0.9.32),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.5
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/heat-cfntools.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/heat-cfntools.git
Homepage: https://wiki.openstack.org/Heat

Package: heat-cfntools
Architecture: all
Depends: python-boto (>= 2.12.0),
         python-pbr (>= 0.6),
         python-psutil (>= 1.1.1),
         ${misc:Depends},
         ${python:Depends}
Pre-Depends: dpkg (>= 1.15.6~)
Description: Tools required to be installed on Heat provisioned cloud
 This package contains tools for use with CloudFormation
 cfn-init   - Reads the AWS::CloudFormation::Init for the instance resource,
              installs packages, and starts services
 cfn-signal - Waits for an application to be ready before continuing, ie:
              supporting the WaitCondition feature
 cfn-hup    - Handle updates from the UpdateStack CloudFormation API call
